*.out
*.exe
*.swp
*.ghc
*.stackdump
.DS_Store
node_modules
package-lock.json
.env
./model/users.js
public/images/uploads/*
!public/images/uploads/women/
!public/images/uploads/men/
!error.JPG
!logo.png
!logo_2.jpg
!logo_2.png
!logo_tmp.png
!placeholder.png
!vector.jpeg
!vector.jpg
!wallpaper.jpg
!wallpaper_1.jpg
!wallpaper_2.jpg
!wallpaper_3.jpg
!wallpaper_4.webp