form(method='post', action='/password')
  .edit
    h4 Password
      img(src='images/icons/lock.png', alt='date of birth address', class='input_icon')
    p You can change your password anytime.
    input#password_edit_btn.custom_btn.ib(type='button', value='Change password')
    #password_edit_container.interest_edit.hide
      span#error_6.error
      input.form-control(type='password', name='password', placeholder='Enter current password')
      input.form-control(type='password', name='newpw', placeholder='Enter new password')
      input.form-control(type='password', name='confirmpw', placeholder='Confirm password')
      br
      #new-password-confirm.btn-group(role='group', aria-label='Confirm new password')
        button#password_confirm.btn.btn-secondary(type='submit') Confirm
        button#password_cancel.btn.btn-secondary(type='button') Cancel