extends layout

block content
	head
		style.
			#messages { list-style-type: none; margin: 0; padding: 0; }
			#messages li { padding: 5px 10px; }
			#messages li:nth-child(odd) { background: #eee; }
	h2(align="center") Matcha Chat
	h2(id="username" hidden='true') #{username}
	h2(id="roomName" hidden='true') #{roomName}
	.container.mb-6
		.row.justify-content-center
			.col-6
				ul#messages
	.container.fixed-bottom
		.row.justify-content-center
			.col-6
				form.input-group.mb-3(id="form" action='')
					button.btn.btn-outline-secondary.bg-secondary.text-light Send
					input#m.form-control.border.border-secondary(autocomplete='off')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js")
	script(src='/js/chat.js')