doctype html
html
  head
    title MatchaChat
    style.
      //- * { margin: 0; padding: 0; box-sizing: border-box; }
      //- body { font: 13px Helvetica, Arial; }
      //- form { padding: 3px; position: fixed; bottom: 0; width: 100%; }
      //- #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='')
    script.
      $(function () {
      //- var socket = io('http://localhost:3000');
      $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
      });
      socket.on('chat message', function(msg){
      $('#messages').append($('<li class="list-group-item">').text(msg));
      });
      });

  body
    div#chat(class='col-sm-12' style='display: none')
      ul#messages(class='list-group mt-3' style='')
        form(action='' class='col-sm-11' style='position: fixed; bottom: 0;')
          div(class='input-group mb-3')
            input#m(autocomplete='off' type='text' class='form-control')
            div(class='input-group-append')
              button(class='btn btn-primary') Send

    div#username(class='login-page container mt-3' style='text-align: center')
      div(class='form')
        h3(class='' style='margin: 20px') Username
        form#usernameForm(action='')
          input#usernameInput(class='usernameInput form-control' name='username' type='text' maxlength="14")
          //- input#setUsername(type='submit' class='btn btn-primary' onclick="setUsername()")
    script(src='/js/chat.js')

