extends layout

block content
  .wrapper(align='center')
    h2 Conform your password change
    p You have made a request to change your password.
    | Please proceed to your email and click on the link to confirm your password change and then signin.
    |
    br 
    | if you didn't receive an email please check your spam folder or try again.