footer
  div(align='center')
    | Icons made by 
    a(href='https://www.flaticon.com/authors/freepik', title='Freepik') Freepik
    |  | 
    a(href='https://www.flaticon.com/authors/dave-gandy', title='Dave Gandy') Dave Gandy
    |  | 
    a(href="https://www.flaticon.com/authors/those-icons", title="Those Icons") Those Icons 
    |  | 
    a(href='https://www.flaticon.com/authors/bqlqn', title='bqlqn') bqlqn
    |  | 
    a(href='https://www.flaticon.com/authors/smashicons' title='Smashicons') Smashicons
    |  | 
    a(href='https://www.flaticon.com/authors/good-ware', title='Good Ware') Good Ware
    |  | 
    a(href='https://www.flaticon.com/authors/pixel-perfect', title='Pixel perfect') Pixel perfect
    |  | 
    a(href='https://www.flaticon.com/authors/gregor-cresnar' title='Gregor Cresnar')  Gregor Cresnar
    |  from 
    a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
    br
    | Made by 
    a(href='https://github.com/mchocho') mchocho
    | , 
    a(href='https://github.com/rjwhobbs') rhobbs
    | , 
    a(href='https://github.com/veronar') vramkumar
    br
    | Copyright &copy; #{year} 