extends layout

block content
	//NB! This is incorrect naming, layout is the hearder. 
	include header
	.wrapper(align='center')
		h2 Forgot your password?
		form(method='POST')
			if messages
				each message in messages	
					span.error #{message} 
			label
				| Email address
				input.txt(type='text' name='email' required='')
			label
				| New Password
				input.txt(type='password' name='newPassword')
			label
				| Confirm Password
				input.txt(type='password' name='confPassword' required='')
			input(type='submit' name='cupid' value='Submit')