extends layout

block content
  .wrapper(align='center')
    form(method='POST')
      if messages
        each message in messages  
          span.error #{message} 
      h1.h3.mb-3.font-weight-normal Forgot your password?
      label.sr-only(for='email') Email address
      input#email.form-control(type='text', name='email', placeholder='Enter your email', required='', autofocus='')
      br
      button.btn.btn-lg.btn-primary.btn-block(type='submit', name='cupid') Send Email