extends layout

block content
	include header
	.wrapper(align='center')
		h2 Forgot your password?
		form(method='POST')
			if message
				span #{message}
			span.error #{error_0} #{error_2}
			label
				| Username
				input.txt(type='text' name='username' required='')
			span.error #{error_1}
			label
				| New Password
				input.txt(type='password' name='password' required='')
			label
				| Confirm Password
				input.txt(type='password' name='password' required='')
			input(type='submit' name='cupid' value='Submit')