header
  a(href='index.php')
    div
      img(src='images/logo.png')
    .heading
      h1 Cupid's Arrow
  .profile_container
    a(href='signup.php') Sign up
    |  | 
    a(href='signin.php') Sign in
