doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest' href='manifest.webmanifest')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', media='all')
    link(rel='stylesheet' href='/flatpickr/flatpickr.min.css', media='all')
    link(rel='stylesheet', href='/css/style.css', media='all')  
    link(rel='stylesheet', href='/css/matcha.css', media='all')
    link(rel='stylesheet' href='/css/main.css' media='all')       
  body
    header
      a(href='/')
        div
          img(src='/images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/notifications')
          img.notifications.icons(src=(!notifications) ? '/images/icons/bell_0.png' : '/images/icons/bell.png')
        a(href='/chats')
          img.messages.icons(src=(!chats) ? '/images/icons/envelope.png' : '/images/icons/new_message.png')
        .user
          a(href='/user')
            if (!profile_pic)
              img#avatar(src='/images/icons/user.png')
            else if (profile_pic.name.startsWith('http://') || profile_pic.name.startsWith('https://'))
              img#avatar(src=profile_pic.name)
            else
              img#avatar(src='/images/users/' + profile_pic.name)
          a.logout(href='/logout') Logout
  block content
