extends layout

block content 
  #matcha
    h2(align='center') Your matches
    .filter_container
      form(method='GET')
        .container
          .row
            .col-7
            .col
              .row
                .col
                  include ui/sort.pug
              br
              .row
                .col
                  include ui/filter.pug
    .match_container.container
      if (users.length == 0)
        include ui/no.matches.pug
      else
        include ui/matches.pug
  include ui/connections.pug
  include footer.pug
  script(src='/js/matcha.js')