<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Notifications</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="manifest.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<link rel="stylesheet" href="/css/style.css" media="all" />
    <link rel="stylesheet" href="/css/notifications.css" media="all" />
	</head>
	<body>
        <header>
            <a href="/">
                <div>
                    <img src="images/logo.png" />
                </div>
                <div class="heading">
                <h1>Cupid's Arrow</h1> 
                </div>
            <div class="profile_container">
                <a href="/">Sign up</a> 
                <a href="/signin">Sign in</a>
                </div>
            </a>
        </header>
        <h2>Notifications</h2>
	      <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <span>
                <img src="images/icons/like.png" />
                <h5 class="mb-1">Jessica now likes you.</h5>
              </span>
              <small>3 hrs ago</small>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <span>
                <img src="images/icons/heart.png" />
                <h5 class="mb-1">Queen B now likes you. It seems like there's a connection between the 2 of you.</h5>
              </span>
              <small>3 days ago</small>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <span>
                <img src="images/icons/unlike.png" />
                <h5 class="mb-1">Jennifer unliked you.</h5>
              </span>
              <small>1 day ago</small>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <span>
                <img src="images/icons/views.png" />
                <h5 class="mb-1">Someone viewed your profile. Click here to see who it was.</h5>
              </span>
              <small>3 days ago</small>
            </div>
          </a>
        </div>
        <footer>
          <div>
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            |
            <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> 
            from 
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </footer>
	</body>
</html>