doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css', media='all')  
    link(rel='stylesheet', href='/css/notifications.css', media='all')       
  body
    header
      a(href='/')
        div
          img(src='images/logo.png')
        .heading
          h1 Cupid's Arrow
      .profile_container
        a(href='/notifications')
          img.notifications.icons(src='images/icons/bell_0.png')
        a(href='/messages')
          img.messages.icons(src='images/icons/envelope.png')
    h2 Notifications
     .list-group
      each val, index in notifications
        if (val.type === 'unlike' || val.type === 'like')
          a.list-group-item.list-group-item-action.flex-column.align-items-start(href='profile/id/' + val.service.liker.id )
        else ()
          .d-flex.w-100.justify-content-between
            span
              if (val.type === 'unlike')
                img(src='images/icons/unlike.png')
              if (val.type === 'views')
                img(src='images/icons/views.png')
              if (val.type === 'like')
                if (val.connection === true)
                  img(src='images/icons/heart.png')
                else
                  img(src='images/icons/like.png')
              h5.mb-1
                if (val.type === 'unlike')
                  | {val.service.liker.username} unliked you.
                if (val.type === 'viewed')
                  | Someone viewed your profile. Click here to see who it was.
                if (val.type === 'like')
                  if (val.connection === true)
                    | {val.service.liker.username} now likes you. It seems like there's a connection between the 2 of you.
                  else
                    | {val.service.liker.username} now likes you.
                small
                  time(datetime=val.date_created) val.date_created
    footer
      div
        | Icons made by
        a(href='https://www.flaticon.com/authors/freepik' title='Freepik') Freepik
        |             |
        a(href='https://www.flaticon.com/authors/gregor-cresnar' title='Gregor Cresnar') Gregor Cresnar
        |             from 
        a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com





