doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Awesome Title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='css/styles.css', media='all')
    link(rel='stylesheet', href='css/profile.css', media='all')
  body
    .profile_content(align='center')
      .profile_pic_content
        img.profile_pic(src='https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzQzMTY2NDc4/will-smith-9542165-1-402.jpg', alt="User's profile pic")
        span.user_rating
          | 5 
          img(src='images/icons/star.png')
        .thumbnails
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png', alt='pics')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
          img(src='https://www.clarku.edu/wp-content/themes/clarku/assets/img/placeholder.png')
      .views_container
        a(href='view_list.php') 42 views this week
      form(action='includes/handle_settings.php')
        .edit
          span#username.value IamLegend
          span.btns
            input#e_username.custom_btn.ib(type='button', name='e_username', value='Edit')
            input#c_username.custom_btn.ib(type='button', name='c_username', value='Cancel')
          #username_edit.username_edit
            input#n_username.txt.ib(type='text', placeholder='New username')
            input#s_username.custom_btn.ib(type='button', value='Save')
        .edit
          span#fullname.value Will Smith
          span#fullname.value
          #fullname_edit.fullname_edit
            input#n_fname.txt.ib(type='text', placeholder='First name')
            input#n_lname.txt.ib(type='text', placeholder='Last name')
            input#s_username.custom_btn.ib(type='button', value='Save')
        .edit
          p Gender
          #gender_group.btn-group(role='group', aria-label='Gender')
            button.btn.btn-secondary(type='button') Female
            button.btn.btn-secondary.option(type='button') Male
        .edit
          p Sexual preference
          #preference_group.btn-group(role='group', aria-label='preferences')
            button.btn.btn-secondary(type='button') Female
            button.btn.btn-secondary(type='button') Male
            button.btn.btn-secondary.option(type='button') Both
        .edit
          p Biography
          p.value.bio
            | Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. Nulla pharetra diam sit amet. Elementum curabitur vitae nunc sed velit dignissim sodales. Porttitor lacus luctus accumsan tortor posuere. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Nullam non nisi est sit amet facilisis magna etiam. Et pharetra pharetra massa massa ultricies mi. Maecenas sed enim ut sem viverra aliquet. Phasellus faucibus scelerisque eleifend donec. Vulputate eu scelerisque felis imperdiet. Malesuada nunc vel risus commodo viverra. Urna nunc id cursus metus aliquam eleifend mi. Nisi scelerisque eu ultrices vitae. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Nec tincidunt praesent semper feugiat nibh. Magna sit amet purus gravida quis. Morbi tristique senectus et netus et malesuada fames ac turpis. Facilisi cras fermentum odio eu feugiat.
        .edit
          #gmap.map
          input.custom_btn.ib.geo(type='button', value='Find Me')
