extends layout

block content
  .wrapper(align='center')
    h2 Meet and fall in love!
    form#signin(method='POST')
      if message
        span #{message}
      span.error #{errors[0]} #{errors[1]} #{errors[2]}
      h1.h3.mb-3.font-weight-normal Sign in
      label.sr-only(for='inputName') Username
      input#inputName.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', name='password',placeholder='Password', required='')
      br
      input.btn.btn-lg.btn-primary.btn-block(type='submit', name='cupid', value='Sign in')
      br
      span Forgot your password? 
      a(href='/forgot_password') Click here