extends layout

block content
	header
		a(href='/')
			div
				img(src='images/logo.png')
			.heading
				h1 Cupid's Arrow
		.profile_container
			a(href='/signup') Sign up | 
			a(href='/') Sign in
	.wrapper(align='center')
		h2 Meet and fall in love!
		form#signin(method='POST')
			if message
				span #{message}
			span.error #{error_0} #{error_2}
			label
				| Username
				input.txt(type='text' name='username' required='')
			span.error #{error_1}
			label
				| Password
				input.txt(type='password' name='password' required='')
			input(type='submit' name='cupid' value='Submit')
			br
			span Forgot your password?
				a(href='/forgotpassword') Click here