<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Registration | Cupid</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="manifest" href="manifest.webmanifest">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" href="css/style.css" media="all" />		
		<style>
			body {
				background: url('images/wallpaper_1.jpg');
			}

			h2 {
				margin: 2% 0%;
			}
			
			.btn-group {
				margin-left: 40px;
			}
			
			#gender_group {
				margin-left: 60px;
			}
		</style>
	</head>
	<body>
		<div class="wrapper" align="center">
			<h2>Register to find your true love!</h2>
			<form method="POST" action="signup/registration">
				<span id="error_0" class="error" ></span>
				<label>
					Username
					<input type="text" name="username" class="txt"/>
				</label>
				<span id="error_1" class="error" ></span>
				<label>
					First name
					<input type="text" name="f_name" class="txt" required />
				</label>
				<span id="error_2" class="error" ></span>
				<label>
					Last name
					<input type="text" name="l_name" class="txt" required />
				</label>
				<span id="error_3" class="error" ></span>
				<label>
					Gender
					<div id="gender_group" class="btn-group" role="group" aria-label="Gender">
	  					<button type="button" class="btn btn-secondary">Female</button>
	  					<button type="button" class="btn btn-secondary">Male</button>
					</div>
					<input type="hidden" id="gender" name="gender" value="" />
				</label>
				<label>
					Sexual preference
					<div id="preference_group" class="btn-group" role="group" aria-label="preferences">
	  					<button type="button" class="btn btn-secondary">Female</button>
	  					<button type="button" class="btn btn-secondary">Male</button>
	  					<button type="button" class="btn btn-secondary">Both</button>
					</div>
					<input type="hidden" id="preference" name="preference" value="" />
				</label>
				<span id="error_4" class="error" ></span>
				<label>
					Date of birth
					<input type="text" id="dob" name="dob" class="txt" placeholder="Select a date..." required/>
				<label>
				<span id="error_1" class="error" ></span>
				<label>
					Email
					<input type="email" name="email" class="txt" required />
				</label>
				<label>
					Password
					<input type="password" name="password" class="txt" required />
				</label>
				<label>
					Password confirmation
					<input type="password" name="password_confirm" class="txt" required />
				</label>
				<input type="submit" name="cupid" value="Submit" />
			</form>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script type="text/javascript" >
			function script() {
				const dob = document.getElementById('dob'),
					gender_btns = document.getElementById('gender_group').childNodes,
					preference_btns = document.getElementById('preference_group').childNodes;
				flatpickr(dob, {});

				function isNode(el) {
					return (el instanceof Element);
				}

				for (let i = 0, n = gender_btns.length; i < n; i++) {
					gender_btns[i].addEventListener('click', function(e) {
						document.getElementById('gender').setAttribute('value', e.target.textContent);
						gender_btns.forEach(function(value){
							if (isNode(value) && value.classList.contains('option'))
								value.classList.remove('option');
						});
						e.target.classList.add('option');
					});
				}

				for (let i = 0, n = preference_btns.length; i < n; i++) {
					preference_btns[i].addEventListener('click', function(e) {
						document.getElementById('preference').setAttribute('value', e.target.textContent);
						preference_btns.forEach(function(value) {
							if (isNode(value) && value.classList.contains('option'))
								value.classList.remove('option');
						});
						e.target.classList.add('option');
					});
				}
			}
			document.addEventListener("DOMContentLoaded", script);
		</script>
	</body>
</html>
