extends layout

block content   
  #user.container
    .profile_content(align='center')
      .row
        .col
          include ui/user.pug
      .row
        .col
          include ui/username.pug
        .col
          include ui/fullname
      .row
        .col
          include ui/gender.pug
        .col
          include ui/preference.pug
      .row
        .col
          include ui/dob.pug
        .col
          include ui/interests.pug
      .row
        .col  
          include ui/biography.pug
      .row
        .col
          include ui/email.pug
        .col
          include ui/password.pug

    .row
      .col
        #map
          input#find_me.custom_btn.geo.hide(type='button', value='Find Me')
  include footer.pug
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZBn1NrjeC0gbFW4Fua4XEHudaTwvpy2Q')
  script(type='text/javascript', src='/flatpickr/flatpickr.min.js')
  script(type='text/javascript', src='/js/alertify.min.js')
  script(type='text/javascript', src='/js/button_groups.js')
  script(type='text/javascript', src='/js/xhr.js')
  script(type='text/javascript', src='/js/map.js')
  script(type='text/javascript', src='/js/user.js')
