extends layout

block content
  .wrapper(align='center')
    h2 Verify your email
    p Thanks for signing up. A love letter has been sent to your email address.
    | Please proceed to your email and click on the link to verify your email address.