$primary-color: lightblue;
$primary-font: sans-serif,'cursive';
$black: #111111;
$white: #eeeeee;
$grey: #DDDDDD;

/* @mixin multi-column-list {
	padding-left: 0;
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
} */

@mixin setup-column {
	width: 50%;
	list-style-position: inside;
	page-break-inside: avoid;
	break-inside: avoid;
 	-webkit-column-break-inside: avoid;
}

ul.multi-column {
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  	padding-left: 0;
}

ul li {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
				 width: 40%;
				 text-align: left;
				 cursor: pointer;
				 margin-left: 20%;
}

.hide {
	display: none;
	visibility: hidden;
}

footer {
	text-align: center;
}


#matcha {
	.profile, .profile:hover  {
		text-decoration: none;
		color: #111111;
	}

	.profile {
		margin-bottom: 3%;

		img {
			width: 350px;
			height: 300px;
		}
	}

	.filter_container {
		margin-left: 55%;
		margin-bottom: 1%;

		.sort_container {
			padding-bottom: 1.5%;
			margin-right: -10%;

			img {
				width: 40px;
				height: 40px;
			}
		}

		img {
			width: 70px;
			height: 70px;
			margin-right: 10px;
		}

		.filter_content_container button a {
			color: unset;
			// display: block;
			width: 100px;
			height: 100px;
			z-index: 9999999;
			text-decoration: unset;
		}
	}

	.age-slider {
		label {
			display: inline-block;
		}

		label:first-of-type {
			margin-right: 3%;
			margin-left: -8%;
		}

		label input {
			display: block;
		}

		span {
			display: inline-block;
			margin-left: 9px;
			transition-duration: 6s;
			color: #AAAAAA;
		}

		#age {
			display: block;
			margin-right: -15%;
		}
	}

	.info_container {
		width: 350px;
		background: #DDDDDD;
		text-align: right;
		padding: 12px;

		img {
			width: 35px;
			height: 35px;
			float: left;
		}

		span {
			padding-right: 6px;
		}

		span.name {
			padding-bottom: 7px;
		}
	}

	.match_container {
		padding-bottom: 30px;

		.icon {
			margin: auto;
			display: inline;
			margin-right: 3%;
		}
	}

	.no_results {
		display: inline;
		text-align: center;
		width: 100%;
	}
}


/*
	
	#profile
	Profile view, after matching process

*/

#profile {
	h2 {
		text-align: center;
	}

	.available {
		position: relative;
		width: 50%;

		* {
			position: relative;
			right: -86%;
		}

		.status {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: lime;
		}

		.F {
			background: red !important;
		}

		.last_seen {
			font-style: italic;
		}
	}

	.images {
		width: 100%;
		display: block;
		padding: 2% 0%;
		
		img {
			margin: auto;
			display: block;
			width: 40%;
			height: 40%;
		}		
	}

	.connection_status {
		font-size: 130%;
		width: 100%;
		text-align: center;
		font-style: italic;

		button {
			position: relative;
			left: 2%;
		}
	}

	.profile_actions {
		margin: 2% 0%;
	}

	.details_container {
		margin: auto;
		
		* {
			margin: auto;
		}

		img {
			width: 60px;
			height: 60px;
		}

		div {
			display: inline-block;
			margin: auto;
		}
	}

	.rating {
		font-size: 250%;

		img {
			vertical-align: bottom;
		}
	}

	.pipe {
		display: inline-block;
		font-size: 400%;
		padding: 0% 4% 0% 4%;
		position: relative;
		top: 9px;
	}

	.dob {
		font-size: 160%;
	}

	.location_container {
		margin-top: 2%;
		text-align: center;
		
		h3 {
			font-size: 140%;
			padding-right: 1%;
		}

		img {
			width: 5%;
			height: 5%;
			vertical-align: top;
		}

		.distance {
			text-align: left;
			display: inline-block;
			position: relative;
			left: 1%;

			span {
				display: block;
				font-size: 115%;
				width: 120%;
			}
		}
	}

	li {
		img {
			display: inline-block;
			padding-left: 2%;
			width: 40px;
			height: 40px;
		}
	}
}

/*
	#user
	The user settings view

*/

#user {
	#profile_picture_form {
		background: unset;

		#new-image-confirm {
			display: block;
		}
	}

	.user_rating {
		width: 30%;
		font-size: 90%;
		margin-left: 15%;

		img {
			width: 60px;
			height: 60px;
			vertical-align: text-bottom;
		}
	}

	.views_container {
		font-size: 140%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	span.value {
		display: block;
	}

	.custom_btn {
		margin: 15px 0px;
		border-radius: .25rem;
	}

	input[type="text"] {
		margin-bottom: 15px;
	}

	h4 {
		margin: 4% 0% 1% 0%;
	}
}

#notifications {
	h2 {
		text-align: center;
	}

	.list-group {
		width: 80%;
		margin: auto;
	}

	.list-group-item {
		img {
			width: 70px;
			display: inline-block;
			padding-right: 2%;
		}

		h5 {
			// width: 800%;
			display: inline-block;
			vertical-align: bottom;

			.time {
				position: relative;
				right: -3%;
				font-size: 60%;
				display: inline-block;
				text-align: right !important;
				// float: right;
			}

			.badge {
				position: relative;
				right: -3px;
				vertical-align: top;
			}
		}
	}
}
