.profile, .profile:hover  {
	text-decoration: none;
	color: #111111;
}

.profile {
	margin-bottom: 3%;
}

.filter_container {
	margin-left: 55%;
	margin-bottom: 1%;
}

.filter_container img {
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

.profile img {
	width: 350px;
	height: 300px;
}

.hide {
	display: none;
	visibility: hidden;
}

.age-slider label,
.age-slider span {
	display: inline-block;
}

.age-slider label:first-of-type {
	margin-right: 3%;
	margin-left: -8%;
}

.age-slider span {
	transition-duration: 6s;
	color: #AAAAAA;
}

.age-slider label input {
	display: block;
}

.info_container {
	width: 350px;
	background: #DDDDDD;
	text-align: right;
	padding: 12px;
}

.info_container img {
	width: 35px;
	height: 35px;
	float: left;
}

.info_container span {
	padding-right: 6px;
}

.info_container span.name {
	padding-bottom: 7px;
}



.match_container {
	padding-bottom: 30px;
}

.match_container .icon {
	margin: auto;
	display: inline;
	margin-right: 3%;
}

.no_results {
	display: inline;
	text-align: center;
	/*margin-top: 5%;*/
	/*margin-bottom: 13%;*/
	/* width: 100%; */
}
