.profile, .profile:hover  {
	text-decoration: none;
	color: #111111;
}

.profile {
	margin-bottom: 3%;
}

.profile img {
	width: 350px;
	height: 300px;
}

.info_container {
	width: 350px;
	background: #DDDDDD;
	text-align: right;
	padding: 12px;
}

.info_container span {
	padding-right: 6px;
}

.info_container span.name {
	padding-bottom: 7px;
}

.match_container {
	padding-bottom: 30px;
}

.no_results {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 13%;
	width: 100%;
}
