h2 {
	text-align: center;
}

.images {
	width: 100%;
	display: block;
	padding: 2% 0%;
}

.images img {
	margin: auto;
	display: block;
	width: 40%;
	height: 40%;
}

.connection_status {
	font-size: 130%;
	width: 100%;
	text-align: center;
	font-style: italic;
}

.connection_status button {
	position: relative;
	left: 2%;
}

.details_container {
	margin: auto;
}

.details_container img {
	width: 60px;
	height: 60px;
}

.details_container div {
	display: inline-block;
	margin: auto;
}

.details_container * {
	margin: auto;
}

.rating img {
	vertical-align: bottom

}

.pipe {
	display: inline-block;
	font-size: 400%;
	padding: 0% 4% 0% 4%;
	position: relative;
	top: 9px;
}

.location_container {
	margin-top: 2%;
	text-align: center;
}


.location_container h3 {
	font-size: 140%;
	display: inline-block;
	padding-right: 1%;
}

.location_container img {
	width: 5%;
	height: 5%;
}

.distance {
	padding-top: 0.5%;
}

.distance span {
	display: block;
	font-size: 115%;
}
