body {
	background: url('../images/wallpaper_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	/*margin-top: -5%;*/
}

.wrapper {
	margin-top: -4%;
}

form {
	margin-top: 1%;
}

.btn-group {
	margin: auto;
}

.btn-group button {
	/*padding: 15%;*/
	/*transform: scale(1.3);*/
}

#gender_group {
	/*margin-left: 60px;*/
}

input[type="submit"] {
	margin: 2% 0%;
}

.top
{
	margin-top: -2%;
}

.bottom
{
	margin-bottom: -2%;
}