.fullname .txt {
	width: 8%;
	display: inline-block;
}

ul.multi-column {
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  	padding-left: 0;
}

ul li {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
				 width: 60%;
				 text-align: left;
				 cursor: pointer;
				 margin-left: 20%;
}
#password_edit_btn {
	width: unset;
}

#new-tags-confirm {
	margin-top: 1.5%;
}

p.bio {
	width: 60%;
}

div#map {
	width: 600px !important;
	height: 300px !important;
	display: inline-block;
	background: orange;
	vertical-align: middle;
}

.geo {
	width: 100%;
	height: 40px;
	border-radius: 0px;
	font-size: 120%;
	margin: 0px;
	/*vertical-align: middle;*/
}

.geo:hover {
	background: rgb(256, 256, 256, 0.1);
}
