.fullname .txt {
	width: 8%;
	display: inline-block;
}

.profile_pic_content img {
	width: 55%;
	height: 55%;
}

#password_edit_btn, #email_edit_btn, #dob_edit_btn, .custom_btn {
	width: unset;
}

#new-tags-confirm {
	margin-top: 1.5%;
}

.input_icon {
	display: block;
	width: 10%;
	height: 6%;
	margin-bottom: 1%;
}

p.bio {
	width: 60%;
}

div#map {
	width: 600px !important;
	height: 300px !important;
	display: inline-block;
	background: orange;
	vertical-align: middle;
}

.geo {
	width: 100%;
	height: 40px;
	border-radius: 0px;
	font-size: 120%;
	margin: 0px;
	/*vertical-align: middle;*/
}

.geo:hover {
	background: rgb(256, 256, 256, 0.1);
}
